<template id="tpl-celeb-card">
  <div class="celeb-card">
    <div class="celeb-header">
      <img class="celeb-image" data-celeb-image alt="Celebrity" />
      <div class="celeb-info">
        <div class="celeb-rank">
          <span data-medal>🥇</span>
          <span data-rank>1</span>위
        </div>
        <div class="celeb-name" data-celeb-name>연예인이름</div>
        <div class="celeb-score">
          <div class="bar">
            <div class="bar-fill" data-bar style="width: 88%"></div>
          </div>
          <div class="score">유사도 <span data-score>88</span>점</div>
        </div>
      </div>
    </div>
  </div>
</template>